body{
    width: 75%;
    margin: auto ;
}
.headerclass{
             background-color: aliceblue;
             margin: auto;
             margin-top: 3px;
             border-radius: 5px;
             padding: 0px 5px 2px 5px;
}
.divmenu{
         background-color: grey;
         margin: auto;
         margin-left: 4px;
         margin-right: 4px;
         border-radius: 5px;
         padding: 0px 5px 1px 5px;
} 
.featureclass{
         background-color: aliceblue;
         margin: auto;
         margin-top: 5px;
         border-radius: 5px;
         padding: 0px 5px 20px 5px;
}
.bodyclass{
         background-color: aliceblue;
         margin: auto;
         margin-top: 5px;
         border-radius: 5px;
         padding: 0px 5px 20px 5px;
}
.listclass{
         background-color: grey;
         margin: auto;
         margin-left: 4px;
         margin-right: 4px;
         border-radius: 5px;
         padding: 1px 2px 160px 10px;
}
.extraclass{
         background-color: aliceblue;
         margin: auto;
         margin-top: 5px;
         border-radius: 5px;
         padding: 0px 5px 30px 5px;;  
}
.aboutclass{
         background-color: aliceblue;
         margin: auto;
         margin-top: 5px;
         border-radius: 5px;
         padding: 0px 5px 20px 5px;;
}
.copyrightclass{
         background-color: aliceblue;
         margin: auto;
         margin-top: 0px;
         border-radius: 5px;
         padding: 0px 5px 2px 5px;;
}


